.App {
  height: 100vh;
  background-image: url("./components/mrt.jpg");
  background-size: cover;
  position: relative;
  font-family: "Raleway", sans-serif;
  background-color: black;
  /* font-family: "Open Sans", sans-serif; */
}

.heading {
  margin: 0 auto;
  height: 20vh;
  position: relative;
  color: white;
}

.heading-title {
  min-width: 605px;
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 3rem;
}

.results {
  width: 90vw;
  margin: 10px auto;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 5px;
}
.results-title {
  font-size: 1.2rem;
  font-weight: bolder;
}

.search {
  width: 70vw;
  margin: 20px auto;
  bottom: 0;
  min-width: 805px;
}
.search-title {
  background-color: gainsboro;
  padding: 5px 20px;
  font-size: 1.2rem;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search-container {
  background-color: gainsboro;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.searchbox {
  display: inline-block;
  font-size: 1rem;
  width: 25vw;
  padding: 10px 20px;
}

.dropdownbox {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.submit {
  width: 10vw;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(96, 214, 28);
  color: white;
  border: none;
}

.submit:hover {
  background-color: green;
}

.card {
  padding: 10px;
  margin: 5px auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  width: 25vw;
  max-height: 440px;
  overflow: scroll;
  min-height: 30vh;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.grid-container-3 {
  display: grid;
  height: 40vh;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.line {
  font-size: 0.7rem;
}
.route {
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.label {
  color: white;
  padding: 3px;
  border-radius: 10px;
}

.NS {
  background-color: red;
}

.EW,
.CG {
  background-color: green;
}

.CC,
.CE {
  background-color: rgb(255, 196, 0);
  color: black;
}

.DT {
  background-color: blue;
}

.TE {
  background-color: brown;
}

.NE {
  background-color: purple;
}

.SE,
.SW,
.BP,
.PE,
.PW {
  background-color: grey;
}

.JW,
.JS,
.JE {
  background-color: rgb(35, 184, 184);
}
